.news-part {
    background: white;
    padding: 65px 0;

    .header-news {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 0 25px;

        .left-part {
            line-height: 30px;

            h2 {
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: left;
                font-weight: 600;
            }

            p {
                text-align: left;
            }
        }

        .right-part {

            button {
                letter-spacing: 1px;
                color: black;
                border-color: black;
                padding: 10px 20px;

                &:hover {
                    color: whitesmoke;
                    background: rgba(0, 0, 0, 0.9);
                }
            }
        }
    }

    .main-news {

        .main-news-container {
            display: flex;
            justify-content: space-around;
            max-width: 1100px;
            margin: 45px auto;

            > div {
                position: relative;
                max-width: 23%;

                .mn-pic {

                    img {
                        -o-object-fit: cover;
                           object-fit: cover;
                        width: 100%;
                        border-radius: 3px;
                        box-shadow: 0 2px 10px #888;
                    }
                }
                

                h4 {
                    margin: 15px 0;
                    text-align: left;
                }

                P {
                    text-align: left;
                    font-size: 0.8rem;
                    line-height: 20px;
                    margin-bottom: 45px;
                }

                .link {
                    text-align: left;
                    position: absolute;
                    bottom: 0;

                    a {
                        color: rgb(95, 4, 170);
                        text-transform: uppercase;
                        font-size: 0.7rem;
                        font-weight: 900;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

}
